@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'PixelFont';
	src: url('/fonts/pixel-font.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@layer base {
	.animated-title {
		background-image: linear-gradient(
			-60deg,
			theme(colors.primary) 0%,
			theme(colors.primary) 20%,
			theme(colors.secondary) 40%,
			theme(colors.secondary) 60%,
			theme(colors.primary) 80%,
			theme(colors.primary) 100%
		);
		background-size: 300% auto;
		animation: shine 4s linear infinite;
	}

	@keyframes shine {
		to {
			background-position: 300% center;
		}
	}

	@keyframes vibrate {
		0% {
			text-shadow:
				0 0 0px theme(colors.primary),
				0 0 2px theme(colors.primary);
		}
		100% {
			text-shadow:
				0 0 2px theme(colors.primary),
				0 0 4px theme(colors.primary);
		}
	}
}

canvas {
	image-rendering: pixelated;
	background-color: transparent !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 200% 50%;
	}
}
