@layer theme, base, components, utilities;
@import 'tailwindcss';

@plugin "daisyui" {
	logs: true;
	root: ':root';
	include: button, badge, input, card;
	exclude: badge;
	themes:
		light --default,
		forest --prefersdark;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer base {
	.animated-title {
		background-image: linear-gradient(
			-60deg,
			var(--color-primary) 0%,
			var(--color-primary) 20%,
			var(--color-info) 40%,
			var(--color-primary) 60%,
			var(--color-primary) 80%,
			var(--color-primary) 100%
		);
		background-size: 300% auto;
		animation: shine 10s linear infinite;
	}

	@keyframes shine {
		to {
			background-position: 300% center;
		}
	}

	@keyframes vibrate {
		0% {
			text-shadow:
				0 0 0px var(--color-primary),
				0 0 2px var(--color-primary);
		}
		100% {
			text-shadow:
				0 0 2px var(--color-primary),
				0 0 4px var(--color-primary);
		}
	}

	@keyframes bounceTwo {
		0%,
		100% {
			transform: translateY(0);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		25% {
			transform: translateY(-20px);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
		45% {
			transform: translateY(0);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		70% {
			transform: translateY(-12px);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
		85% {
			transform: translateY(0);
		}
	}
}

canvas {
	image-rendering: pixelated;
	background-color: transparent !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 200% 50%;
	}
}

body {
	overflow-x: hidden;
	width: 100%;
	position: relative;
}
