@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'PixelFont';
	src: url('/fonts/pixel-font.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 200% 50%;
	}
}
